* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
  }

/* Navigation bar */
ul.topnav {
    overflow: hidden;
    list-style-type: none;
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #262626;
}

/* Navigation bar buttons */
ul.topnav li a {
    font-size: 19px;
    display: block;
    color: #777777;
    padding: 18px 15px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: 0px 1px 3px #777777;
}

/* Navigation bar active button */
ul.topnav li a.active {
    color: #FFF;
}

/* Navigation bar hover button */
ul.topnav li a:hover:not(.active) {
    color: #FF334C;
    text-shadow: 0px 2px 5px #FF334C;
}

ul.topnav li {
    float: left;
}

ul.topnav li.right {
    float: right;
}

/* Content on body section */
.content {
    padding: 5%;
}

/* Paragraph's content on body section*/
.content p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
    font-family: sans-serif;
}

/* Just Footer */
footer {
    color: #777777;
    padding: 15px 50px;
    text-align: center;
    background: #0F0F0F;
    font-family: sans-serif;
    border-top: 2px solid #262626;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}

.centered {
    top: 17%;
    left: 28.2%;
    color: #FFF;
    font-size: 38px;
    font-weight: 550;
    position: absolute;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #000000;
}

.bot-centered {

    left: 33%;
    top: 19%;
    color: #f1f1f1;
    font-size: 28px;
    position: absolute;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #000000;
}

@media (max-height: 600px) {}